div#content
	- if(typeof(splash) != 'undefined')
		div.warnMessage= splash
	
	div.container.clearfix
		form(action="/admin/term", method="post", enctype="multipart/form-data")
			dl
				dt= 'Name: '
				dd
					input(name='name', id="name",value='', placeholder='Input your name')
			dl
				dt= 'source url:'
				dd 
					input(name='source', id='source',value='', placeholder='Input source url')
			dl
				dt= 'description:'
				dd
					textarea(name='description', id='description',value='', placeholder='description')
			
			div
				input.newReading(type='button', name='newReading', value='Add Readings')
			div.readings

			input(type='submit', value='登陆')
	div.hidden


div#readingsTemplate.hidden
	div.reading
		label= "Symbol:"
		input(type='text',name='symbols[]')
		br
		label= "Audio:"
		input(type='file',name='audios[]')
		br
		label= "Is Correct:"
		input(type='checkbox',name='isCorrects[]')
		br


script(src="/js/jquery.min.js")			
script(src="/js/admin.js")
