div#content
	- if(typeof(splash) != 'undefined')
		div.warnMessage= splash
	
	div.container.clearfix
		form.newTerm(action="/admin/term", method="post", enctype="multipart/form-data")
			dl
				dt= 'Name: '
				dd
					input(name='name', id="name",type='text', placeholder='Input your name')
			dl
				dt= 'source url:'
				dd 
					input(name='source', id='source',value='', placeholder='Input source url')
			dl
				dt= 'description:'
				dd
					textarea(name='description', id='description',value='', placeholder='description')
			
			input.newReading(type='button', name='newReading', value='Add Readings')
			div.readings

			input(type='submit', value='登陆')
	div.hidden

div#readingsTemplate.hidden
	div.reading
		dl
			dt= "Symbol:"
			dd
				input(type='text',name='symbols')
		dl
			dt= "Audio:"
			dd
				input(type='file',name='audios')
		dl
			dt= "Is Correct:"
			dd
				input.isCorrect(type='checkbox',name='_isCorrect', value='true')
				input.isCorrects(type='hidden', name='isCorrects', value='false')


script(src="/js/jquery.min.js")			
script(src="/js/admin.js")
