div#header.true.clearfix
	div.container.clearfix
		span#logo
			a.site-logo(href="https://how2read.me/", title="Make pronunciation really universal")= title
		div#userbox
			div#user
				span Welcome 
					a.name user
				
div#content
	div.container.clearfix
		div#mainbar
			- for(var i in terms)
				- var id= terms[i].id, name = 'term' + id, rightCount = terms[i].right_count, wrongCount = terms[i].wrong_count;
				div.term(id=terms[i].id)
					div.statscontainer
						label Correct: 
							span.right= terms[i].right_count
						br
						label Wrong:
							span.wrong= terms[i].wrong_count
					div.summary
						h2= terms[i].name
						span.pronunciation 
							span.text
								a(href="")= '[' + terms[i].pronunciation + ']'
							span.speaker
								img(src="/images/speaker.png", title="播放读音")
								audio
									source(type="audio/mpeg", src="audio/apache.mp3")
						div.description= terms[i].description
							a(href=terms[i].source)
								img(src="/images/external_link.jpg", title="去官方网站")
						div.vote
							label.rate
								span= 0%
								的人读错了
							form.report(method="POST", action="/term/#{id}")
								input(type="hidden", value="#{id}", name="id") 
								input(type="hidden", value="true", name="isCorrect") 
								input.right(type="submit", value="我读对了") 
							form.report(method="POST", action="/term/#{id}")
								input(type="hidden", value="#{id}", name="id") 
								input(type="hidden", value="false", name="isCorrect") 
								input.wrong(type="submit", value="我读错了") 	
							input.result(disabled='disabled')
		div#sidebar
			div#newlyApproved
			div#newlyAdded
			div#notApproved
div#footer
	div.container.clearfix
		div#legal
			span All Rights Reserved.
			span Email: xqzhang@thoughtworks.com  
			span website: 
				a(href="http://xiaoqing.me") http://xiaoqing.me  
			span weibo(@aqingsao)  
script(src="/js/jquery.min.js")			
script(src="/js/rgraph/RGraph.common.core.js")
script(src="/js/rgraph/RGraph.common.tooltips.js")
script(src="/js/rgraph/RGraph.common.effects.js")
script(src="/js/rgraph/RGraph.pie.js")
script(src="/js/rgraph/RGraph.common.key.js")
script(src="/js/main.js")
