div#header.true.clearfix
	div.container.clearfix
		div#logo
			h2
				a.site-logo(href="https://how2read.me/", title="Make pronunciation really universal")= title
			p 程序员最容易读错的单词
				
div#content
	div.container.clearfix
		div#mainbar
			- for(var i in terms)
				-var term = terms[i]
				div.term(id=term.id)
					div.statscontainer
						img.stats(src='images/stats.png', wrong=term.wrong, right=term.right)
						canvas(width=132, height=132, id='term' + term.id)
					div.summary
						h2.name= term.name 
						div.description= term.description
							-if(term.source)
								a(href=term.source)
									img(src="/images/external_link.jpg", title="去官方网站")
						div.vote
							label.rate
								span= '0%'
								的人读错了，您呢？
							-var voted = cookies.hasKey(term.id)
							-if (voted)
								-if (term.readCorrect(cookies.getValue(term.id)))
									a.reading.right='您读对了'
								-else
									a.reading.wrong='您读错了'
							-for(var j in term.readings)
								-if (voted)
									-if (term.readings[j].correct == 'true')
										a.reading.votable.voted(reading="#{term.readings[j].id}")= '['+ term.readings[j].symbol + ']'
											audio
												source(type="audio/mpeg", src="audio/"+term.readings[j].audio)
								-else
									a.reading.votable(reading="#{term.readings[j].id}")= '[' + term.readings[j].symbol + ']'
										audio
											source(type="audio/mpeg", src="audio/"+term.readings[j].audio)								
						div#ckepop.share
							span.jiathis_txt 分享到
							a.jiathis_button_tsina 新浪微博
							a.jiathis_button_tqq 腾讯微薄
							
		div#sidebar
div#footer
	div.container.clearfix
		div#legal
			span All Rights Reserved.
			span Email: xqzhang@thoughtworks.com  
			span website: 
				a(href="http://xiaoqing.me") http://xiaoqing.me  
			span weibo(@aqingsao)  
script(src="/js/jquery.min.js")			
script(src="/js/rgraph/RGraph.common.core.js")
script(src="/js/rgraph/RGraph.common.tooltips.js")
script(src="/js/rgraph/RGraph.common.effects.js")
script(src="/js/rgraph/RGraph.pie.js")
script(src="/js/rgraph/RGraph.common.key.js")
script(src="/js/poshy/jquery.poshytip.js")
script(src="/js/main.js")
script(src="http://v2.jiathis.com/code/jia.js", charset="utf-8")
