div#header.true.clearfix
	div.container.clearfix
		div#logo
			h2
				a.site-logo(href="https://how2read.me/", title="Make pronunciation really universal")= title
			p 程序员最容易读错的单词
				
div#content
	div.container.clearfix
		div#mainbar
			- for(var i in terms)
				-var term = terms[i]
				div.term(id='term' + term.id)
					a(id= term.name, name= term.name)
					div.statscontainer
						img.stats(src='images/stats.png', wrong=term.wrong, right=term.right)
						canvas(width=132, height=132, id='canvas' + term.id)
					div.summary
						h2.name= term.name 
						div.description= term.description
							-if(term.source)
								a(href=term.source, target="_blank")
									img(src="/images/external_link.jpg", title="去官方网站")
						-var voted = cookies.hasKey(term.id)
						-if(cookies.hasKey(term.id))
							div.vote.voted
								label.rate
									span= '0%'
									的人读错了，您呢？
								-for(var j in term.readings)
									-var selected = term.readings[j].id == cookies.getValue(term.id), right = term.readings[j].correct == 'true';
									-var symbol = selected? (right? "您答对了" : "您答错了") : "[" + term.readings[j].symbol + "]";
									-var clz = selected? (right? "votable selected right" : "votable selected wrong"): (right? "votable right" : "votable wrong");
									a(class=clz, reading="#{term.readings[j].id}", symbol="#{term.readings[j].symbol}")
										span= symbol
										audio
											source(type="audio/mpeg", src="audio/"+term.readings[j].audio)
						-else							
							div.vote.notVoted
								label.rate
									span= '0%'
									的人读错了，您呢？
								-for(var j in term.readings)
									a.votable(reading="#{term.readings[j].id}")= '['+ term.readings[j].symbol + ']'
										audio
											source(type="audio/mpeg", src="audio/"+term.readings[j].audio)
						div#ckepop.share
							span.jiathis_txt 分享到
							a.jiathis_button_tsina 新浪微博
							a.jiathis_button_tqq 腾讯微薄
							
		div#sidebar
div#footer
	div.container.clearfix
		div#legal
			p Copyright © 2012 <a href="http://weibo.com/u/1566959347" target="_blank">@aqingsao</a>. All Rights Reserved.
script(src="/js/jquery.min.js")			
script(src="/js/rgraph/RGraph.common.core.js")
script(src="/js/rgraph/RGraph.common.tooltips.js")
script(src="/js/rgraph/RGraph.common.effects.js")
script(src="/js/rgraph/RGraph.pie.js")
script(src="/js/rgraph/RGraph.common.key.js")
script(src="/js/main.js")
script(src="http://v2.jiathis.com/code/jia.js", charset="utf-8")
